#landing-overlay{
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.6);
  font-family: 'Rubik', sans-serif;
  text-shadow: 1px 1px 2px black;
}

#landing-overlay > h1{
  color: white;
  font-size: 75px;
  margin: 0;
}

.happy, .square{
  transition: color .5s;
  cursor: default;
}

.happy:hover{
  color: #535299;
}

.square:hover{
  color: #FF9D37;
}

.landing-container{
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing-container>button{
  color: white;
  border: none;
  background:transparent;
  font-size: 50px;
  padding: 20px;
  cursor: pointer;
  outline: none;
  transition: color .5s;
}

.landing-container>button:hover{
  color: #CC7D52;
}

.personal-info i{
  font-size: 50px;
  color:white;
  transition: color .5s;
}

.fa-github-square:hover{
  color: #FFC98F;
}

.fa-linkedin-square:hover{
  color: #575399;
}

#audio-list, audio{
  display: none;
}

canvas{
  background: linear-gradient(rgba(255,240,191,1), rgba(255,239,203,1));
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: cover;
}

.controls p{
  font-size: 20px;
  color:white;
}

.description{
  text-align: right;
  color:white;
}
